<div data-ng-controller="secCtrl"></div>

<div flex layout="row" layout-align="center center" layout-padding>
	<div flex-xl="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="100" class="md-whiteframe-z4">
		<md-toolbar class="md-warn md-whiteframe-z2">
    		<h2 class="md-toolbar-tools">
      			<span>Apunte</span>
      			<div flex></div>
      			<md-button ng-click="fnCanc()"><md-icon md-font-set="material-icons">clear</md-icon></md-button>
				<md-menu md-position-mode="target-right target" md-dense>
					<md-button aria-label="Acciones" class="md-icon-button" ng-click="openToolMenu($mdOpenMenu, $event)">
						<md-icon md-font-set="material-icons">build</md-icon>
					</md-button>
					<md-menu-content width="3">
						<md-menu-item>
							<md-checkbox ng-click="closeToolMenu()" ng-model="cntx.form.get('repe').data">
								Repetir apuntes
							</md-checkbox>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
    		</h2>
  		</md-toolbar>
        <md-content class="md-padding">
			<form name="apunForm" data-ng-submit="fnForm()">
				<div layout="row" layout-xs="column" layout-sm="column">
					<div layout="row" layout-xs="column" flex>
						<md-input-container class="md-block" flex data-ng-show="cntx.form.get('tipo').show">
							<label>Tipo de modificación</label>
							<md-select ng-model="cntx.form.get('tipo').data" ng-disabled="cntx.form.get('tipo').read" ng-change="fnTipoChng()">
								<md-option ng-repeat="tipo in cntx.data.get('ltHconmdtipo')" ng-value="tipo.clav">{{tipo.desc}}</md-option>
							</md-select>
						</md-input-container>
					</div>
				</div>
				<div layout="row" layout-xs="column" layout-sm="column">
					<div layout="row" layout-xs="column" flex>
	                	<md-input-container class="md-block" flex data-ng-show="cntx.form.get('cate').show">
	                		<label>Categoria</label>
							<md-select ng-model="cntx.form.get('cate').data" ng-disabled="cntx.form.get('cate').read" ng-change="fnCateChng()">
	                        	<md-option ng-repeat="cate in cntx.data.get('cateList')" ng-value="cate.iden">{{cate.desc}}</md-option>
	                        </md-select>
	                    </md-input-container>
	                    <md-input-container class="md-block" flex data-ng-show="cntx.form.get('conc').show">
	                    	<label>Concepto</label>
	                        <md-select ng-model="cntx.form.get('conc').data" ng-disabled="cntx.form.get('conc').read" ng-change="fnConcChng()">
	                        	<md-option ng-repeat="conc in cntx.data.get('concList')" ng-value="conc.iden">{{conc.desc}}</md-option>
	                        </md-select>
	                    </md-input-container>
					</div>
					<div layout="row" layout-xs="column" flex>
	                    <md-input-container class="md-block" flex data-ng-show="cntx.form.get('cuen').show">
	                    	<label>Cuenta</label>
	                        <md-select ng-model="cntx.form.get('cuen').data" ng-disabled="cntx.form.get('cuen').read">
	                        	<md-option ng-repeat="cuen in cntx.data.get('cuenList')" ng-value="cuen.iden">{{cuen.desc}}</md-option>
	                        </md-select>
	                    </md-input-container>
	                    <md-input-container class="md-block" flex data-ng-show="cntx.form.get('impo').show">
	                    	<label>Importe</label>
	                    	<input type="number" ng-model="cntx.form.get('impo').data" step="0.01" ng-disabled="cntx.form.get('impo').read"/>
	                    </md-input-container>
					</div>
				</div>
				<div layout="row" layout-xs="column">
					<div layout="row" layout-xs="column" flex="25" flex-sm="50" flex-xs="100">
						<md-input-container class="md-block" flex data-ng-show="cntx.form.get('feva').show">
	                    	<label>Fecha Valor</label>
	                    	<input type="date" ng-model="cntx.form.get('feva').data" ng-disabled="cntx.form.get('feva').read" ng-model-options="{updateOn: 'blur'}" ng-change="fnFevaChng()"/>
	                    </md-input-container>
					</div>
				</div>
				<div layout="row">
					<md-input-container class="md-block" flex data-ng-show="cntx.form.get('desc').show">
	                	<label>Descripción</label>
	                	<input type="text" ng-model="cntx.form.get('desc').data" ng-disabled="cntx.form.get('desc').read"/>
					</md-input-container>
				</div>
                <div layout="row" layout-align="center center">
                    <md-button type="submit" class="md-raised md-primary" aria-label="Aceptar">Aceptar</md-button> 
                </div>
			</form>
        </md-content>
        <md-content data-ng-show="cntx.form.get('stPres').show">
        	<div data-ng-show="cntx.data.get('pres').esta === 'N'">
        		No hay partida presupuestada para el apunte que va a realizar.
        	</div>
        	<div data-ng-show="cntx.data.get('pres').esta === 'C'">
        		La partida correspondiente no admite apuntes.
        	</div>
        	<div data-ng-show="cntx.data.get('pres').esta === 'A'">
        		<div data-ng-show="cntx.data.get('pres').mesp === 0">
        			Apunte contra partida anual:
        		</div>
        		<div data-ng-show="cntx.data.get('pres').mesp !== 0">
        			Apunte contra partida mensual:
        		</div>
        		<div data-ng-show="cntx.data.get('pres').conc === 0">
        			Categoría: {{cntx.data.get('cateListMap')[cntx.data.get('pres').cate].desl}}
        		</div>
        		<div data-ng-show="cntx.data.get('pres').conc !== 0">
        			Categoría: {{cntx.data.get('cateListMap')[cntx.data.get('pres').cate].desl}}
        			Concepto: {{cntx.data.get('concListMap')[cntx.data.get('pres').conc].desl}}
        		</div>
        		<div>
        			Importe presupuestado: {{cntx.data.get('pres').impo}} &euro;
        		</div>
        		<div>
        			Importe restante: {{cntx.data.get('pres').impo - cntx.data.get('pres').impr}} &euro;
        		</div>
        	</div>
        </md-content>
    </div>
</div>