<div data-ng-controller="secCtrl"></div>

<article class="modulo anchura_full">
	<header>
		<h3 class="tabs_involved">Categorias</h3>
	</header>
	
	<div class="contenedor_tabla">
		<table class="listado"> 
			<thead> 
				<tr>
					<th style="width:  7%;"></th>  
					<th style="width: 48%;">Categoria</th> 
					<th style="width: 10%;">Activo</th>
					<th style="width: 10%;">Orden</th>
					<th style="width: 15%;"></th>  
					<th style="width: 10%;">Acciones</th>
				</tr> 
			</thead> 
			<tbody data-ng-repeat="cate in cateList"> 
				<tr data-ng-show="esta.cateList || (esta.cateView && esta.cateIden === cate.iden)">  
					<td>{{cate.iden}}</td>
					<td>{{cate.desc}}</td>
					<td><input type="checkbox" data-ng-model="cate.acti" data-ng-click="actiCate(cate.iden, cate.acti)"/></td>
					<td><a href="" data-ng-hide="$first" data-ng-click="moveCate(cate.iden, false);"><input type="image" src="images/icn_up.png" title="Subir ({{cate.orde}})"></a><a href="" data-ng-hide="$last" data-ng-click="moveCate(cate.iden, true);"><input type="image" src="images/icn_down.png" title="Bajar ({{cate.orde}})"></a></td>
					<td></td>
					<td><a href="" data-ng-click="verCate(cate.iden);"><input type="image" src="images/icn_ver.png" title="Ver conceptos"></a><a href="" data-ng-click="editCate(cate.iden, cate.desc);"><input type="image" src="images/icn_editar.png" title="Editar"></a><a href="" data-ng-click="cancCate();" data-ng-show="esta.cateEdit || (esta.cateView && esta.cateIden === cate.iden)"><input type="image" src="images/icn_delete.png" title="Cancelar"></a></td> 
				</tr>
			</tbody>
		</table>
 		<form data-ng-submit="saveCate" data-ng-show="esta.cateList || (esta.cateEdit)">
			<table class="listado">
				<tr>
					<td style="width: 10%;">Descripion: </td>
					<td style="width: 35%;"><input type="text" data-ng-model="cate.desc"/></td>  
					<td style="width: 30%;"><input type="submit" data-ng-show="{{0==1}}" data-ng-click="saveCate();"/></td>  
					<td style="width: 10%;"><a href="" data-ng-click="saveCate();"><input type="image" src="images/icn_aceptar.png" title="Aceptar"></a><a href="" data-ng-click="cancCate();" data-ng-show="esta.cateEdit"><input type="image" src="images/icn_delete.png" title="Cancelar"></a></td>
				</tr>
			</table>
		</form>
	</div>
	<div class="contenedor_tabla" data-ng-show="esta.cateView">
		<table class="listado"> 
			<thead> 
				<tr>
					<th style="width:  7%;">Iden.</th>  
					<th style="width: 10%;">Tipo</th> 
					<th style="width: 38%;">Descripcion</th>
					<th style="width: 15%;">Dominio</th>
					<th style="width: 10%;">Activo</th>  
					<th style="width: 10%;">Orden</th>
					<th style="width: 10%;">Acciones</th>
				</tr> 
			</thead> 
 			<tbody data-ng-repeat="c in concList"> 
				<tr data-ng-show="esta.concList || (esta.concEdit && esta.concIden === c.iden)">  
					<td>{{c.iden}}</td>
					<td>{{parTipoConc[c.tipo].valo}}</td>
					<td>{{c.desc}}</td>
					<td>{{c.domi}}</td>
					<td><input type="checkbox" data-ng-model="c.acti" data-ng-click="actiConc(c.iden, c.acti)"/></td>
					<td><a href="" data-ng-hide="$first" data-ng-click="moveConc(c.iden, c.cate, false);"><input type="image" src="images/icn_up.png" title="Subir ({{c.orde}})"></a><a href="" data-ng-hide="$last" data-ng-click="moveConc(c.iden, c.cate, true);"><input type="image" src="images/icn_down.png" title="Bajar ({{c.orde}})"></a></td>
					<td><a href="" data-ng-click="editConc(c.iden, c.desc, c.tipo, c.domi);"><input type="image" src="images/icn_editar.png" title="Editar"></a></td> 
				</tr>
			</tbody>
		</table>
  		<form data-ng-submit="saveConc">
			<table class="listado">
				<tr>
					<td style="width:  7%;"></td>
					<td style="width: 10%;"><select data-ng-model="conc.tipo" data-ng-options="parm.clav as parm.valo for parm in parTipoList"></select></td>
					<td style="width: 38%;"><input type="text" data-ng-model="conc.desc"/></td>  
					<td style="width: 15%;"><input type="text" data-ng-model="conc.domi"/></td>
					<td style="width: 20%;"><input type="submit" data-ng-show="{{0==1}}" data-ng-click="saveConc();"/></td>  
					<td style="width: 10%;"><a href="" data-ng-click="saveConc();"><input type="image" src="images/icn_aceptar.png" title="Aceptar"></a><a href="" data-ng-click="cancConc();" data-ng-show="conc.iden !== 0"><input type="image" src="images/icn_delete.png" title="Cancelar"></a></td>
				</tr>
			</table>
		</form>
	</div>
</article>