<div data-ng-controller="secCtrl"></div>

<div flex layout="row" layout-align="center center" layout-padding>
	<div flex-xl="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="100" class="md-whiteframe-z3">
		<md-toolbar class="md-warn md-whiteframe-z2">
    		<h2 class="md-toolbar-tools">
      			<span>Notificación</span>
      			<div flex></div>
      			<md-button ng-click="fnCanc()"><md-icon md-font-set="material-icons">clear</md-icon></md-button>
    		</h2>
  		</md-toolbar>
  		<md-content>
        	<form name="notfForm" data-ng-submit="fnForm()">
        		<div layout="row" layout-xs="column" layout-sm="column">
        			<div layout="row" layout-xs="column" flex>
        				<md-input-container class="md-block" flex data-ng-show="cntx.form.get('iden').show">
	                		<label>Identificador</label>
							<input type="text" ng-model="cntx.form.get('iden').data" ng-disabled="cntx.form.get('iden').read"/>
	                    </md-input-container>
	                    <md-input-container flex md-no-float class="md-block" data-ng-show="cntx.form.get('tipo').show">
	        				<label>Tipo</label>
							<md-select ng-model="cntx.form.get('tipo').data" ng-disabled="cntx.form.get('tipo').read">
	               				<md-option ng-repeat="tipo in cntx.data.get('ltLNotftipo')" ng-value="tipo.clav">{{tipo.desc}}</md-option>
	            			</md-select>
	        			</md-input-container>
        			</div>
        		</div>
        		<div layout="row" layout-xs="column" layout-sm="column">
					<div layout="row" layout-xs="column" flex>
	                	<md-input-container class="md-block" flex data-ng-show="cntx.form.get('desc').show">
	                		<label>Descripción</label>
							<input type="text" ng-model="cntx.form.get('desc').data" ng-disabled="cntx.form.get('desc').read"/>
	                    </md-input-container>
					</div>
				</div>
				<div layout="row" layout-align="center center">
                    <md-button type="submit" class="md-raised md-primary" aria-label="Aceptar">Aceptar</md-button> 
                </div>
        	</form>
        </md-content>
    </div>
</div>