<!-- //*************************************************************************************************************// -->
<!-- // Pagina principal de la aplicacion.                                                                          // -->
<!-- //=============================================================================================================// -->
<!-- // Version    | Fecha      | Comentarios de version                                                            // -->
<!-- // v.01.00.00 | 09.02.2018 | Primera version del SW                                                            // -->
<!-- //*************************************************************************************************************// -->

<!doctype html>
<html lang="es" data-ng-app="app" data-ng-controller="appCtrl" >

	<head>
			
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width">
		
		<title ng-bind="$root.data.applNomb"></title>

		<!-- Estilos de angular-material -->
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >

		<!-- Estilos de la aplicación -->
		<link rel="stylesheet" href="css/layout.css?v.1.00.01" type="text/css" media="screen" />

		<!-- Librerias de angularJS -->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
		
		<!-- Módulo route de angularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
		
		<!-- Libreria de angular-material -->
		<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
		
		<!-- Configuracion principal de aplicacion -->
		<script src="js/core/script.js?v.1.01.01"></script>

		<!-- Configuracion de navegación de aplicacion -->
		<script src="js/core/core/route.js?v.1.01.01"></script>
		<script src="js/appl/core/routa.js?v.1.01.01"></script>

		<!-- Librerias de apoyo -->
		<script src="js/core/core/form.js?v.1.01.01"></script>
		
		<!-- Configuración del servicio de contexto de controladores -->
		<script src="js/core/core/ctxl.js?v.1.01.01"></script>
		<script src="js/appl/core/ctxa.js?v.1.01.01"></script>
		<script src="js/core/core/cntx.js?v.1.01.01"></script>
		
		<!-- Configuración del servicion Front -->
		<script src="js/core/core/srv.js?v.1.01.01"></script>

		<!-- Directivas de la aplicación -->
		<script src="js/core/core/directives.js?v.1.01.01"></script>
		
		<!-- Configuración de comunicaciones con BackEnd -->
		<script src="js/appl/core/coma.js?v.1.01.01"></script>
		<script src="js/core/core/comc.js?v.1.01.01"></script>
					
		<!-- Controladores de arquitectura -->
		<script src="js/core/core/arqCtrl.js?v.1.01.01"></script>
		
		<!-- Controladores de servicios CORE -->
		<script src="js/core/avis/avisListCtrl.js?v.1.01.01"></script>
		<script src="js/core/btch/btchListCtrl.js?v.1.01.01"></script>
		<script src="js/core/ctmn/ctmnFormCtrl.js?v.1.01.01"></script>
		<script src="js/core/ctmn/ctmnListCtrl.js?v.1.01.01"></script>
		<script src="js/core/ctrl/ctrlListCtrl.js?v.1.01.01"></script>
		<script src="js/core/dele/deleFormCtrl.js?v.1.01.01"></script>
		<script src="js/core/dele/deleListCtrl.js?v.1.01.01"></script>
		<script src="js/core/domi/domiFormCtrl.js?v.1.01.01"></script>
		<script src="js/core/domi/domiListCtrl.js?v.1.01.01"></script>
		<script src="js/core/dtmn/dtmnFormCtrl.js?v.1.01.01"></script>
		<script src="js/core/dtmn/dtmnListCtrl.js?v.1.01.01"></script>
		<script src="js/core/ejec/ejecListCtrl.js?v.1.01.01"></script>
		<script src="js/core/inst/instListCtrl.js?v.1.01.01"></script>
		<script src="js/core/invi/inviEnviCtrl.js?v.1.01.01"></script>
		<script src="js/core/invi/inviListCtrl.js?v.1.01.01"></script>
		<script src="js/core/logp/logpListCtrl.js?v.1.01.01"></script>
		<script src="js/core/mpla/mplaListCtrl.js?v.1.01.01"></script>
		<script src="js/core/plan/planListCtrl.js?v.1.01.01"></script>
		<script src="js/core/sesi/sesiListCtrl.js?v.1.01.01"></script>
		<script src="js/core/stdi/stdiListCtrl.js?v.1.01.01"></script>
		<script src="js/core/stme/stmeListCtrl.js?v.1.01.01"></script>
		<script src="js/core/stst/ststListCtrl.js?v.1.01.01"></script>
		<script src="js/core/usua/usuaExitCtrl.js?v.1.01.01"></script>
		<script src="js/core/usua/usuaLgonCtrl.js?v.1.01.01"></script>
		<script src="js/core/usua/usuaListCtrl.js?v.1.01.01"></script>
		<script src="js/core/usua/usuaRegiCtrl.js?v.1.01.01"></script>
		
		<!-- Controladores de servicios de Aplicación -->
		<script src="js/appl/cuen/cuenListCtrl.js?v.1.01.01"></script>
		<script src="js/appl/cuen/cuenFormCtrl.js?v.1.01.01"></script>
		<script src="js/appl/cuen/cuenCuadCtrl.js?v.1.01.01"></script>
		<script src="js/appl/cuen/cuenTrasCtrl.js?v.1.01.01"></script>
		<script src="js/appl/pres/presResuCtrl.js?v.1.01.01"></script>
		<script src="js/appl/pres/presAnuaCtrl.js?v.1.01.01"></script>
		<script src="js/appl/pres/presMespCtrl.js?v.1.01.01"></script>
		<script src="js/appl/pres/presConcCtrl.js?v.1.01.01"></script>
		<script src="js/appl/hcon/hconFormCtrl.js?v.1.01.01"></script>
		<script src="js/appl/hcon/hconListCtrl.js?v.1.01.01"></script>
		<script src="js/appl/cate/cateListCtrl.js?v.1.01.01"></script>
		<script src="js/appl/cate/cateFormCtrl.js?v.1.01.01"></script>
		<script src="js/appl/conc/concListCtrl.js?v.1.01.01"></script>
		<script src="js/appl/conc/concFormCtrl.js?v.1.01.01"></script>

		<script src="js/Chart.js?v.1.01.01"></script>
		
	</head>
	
	<body layout="column" layout-fill>
	
		<div layout="row" layout-align="center center" id="wait" ng-show="$root.esta.load">
			<md-progress-circular md-mode="indeterminate" md-diameter="100"></md-progress-circular>
		</div>

		<md-toolbar layout="row" class="md-toolbar-tools md-hue-2" layout-align="center center">
			<md-button ng-click="fnMenuMove()"><md-icon md-font-set="material-icons">menu</md-icon></md-button>
			<div flex data-ng-show="!$root.esta.lgonUsua"><h2 ng-bind="$root.data.applNomb"></h2></div>
			<div flex data-ng-show="$root.esta.lgonUsua"><h2>{{$root.esta.usua.iden}} {{$root.esta.diip}}</h2></div>
			<md-button data-ng-show="$root.esta.lgonUsua" ng-click="fnMenuGo('/logout')"><md-icon md-font-set="material-icons">clear</md-icon></md-button>
			<md-button data-ng-show="!$root.esta.lgonUsua" ng-click="fnMenuGo('/lgon')"><md-icon md-font-set="material-icons">exit_to_app</md-icon></md-button>
		</md-toolbar>		

		<!-- <md-content flex scrolly="fnCont()"> -->
		<md-content flex>
			<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
      			<md-list class="md-dense menu" flex>
      				<section data-ng-repeat="ctmn in $root.data.menuList">
      					<md-list-item class="header" flex>
      						<div flex>{{ctmn.desc}}</div>
      					</md-list-item>
      					<md-list-item data-ng-repeat="dtmn in ctmn.dtmnList" ng-click="fnMenuGo(dtmn.path)" class="dtmn">
      						<md-icon md-font-set="material-icons" class="dtmn" style="font-size: 16px; margin-top: 4px; margin-bottom: 0px;">{{dtmn.icon}}</md-icon>
      						<div flex>{{dtmn.desc}}</div>
      					</md-list-item>
      				</section>
      			</md-list>
    		</md-sidenav>
    		<div flex layout="column">
    			<div flex layout="column" layout-align="center center">
    				<script type="text/javascript">
						var ad_idzone = "2442039",
	 						ad_width = "468",
	 						ad_height = "60";
					</script>
					<script type="text/javascript" src="https://ads.exdynsrv.com/ads.js"></script>
					<noscript><a href="http://main.exdynsrv.com/img-click.php?idzone=2442039" target="_blank"><img src="https://syndication.exdynsrv.com/ads-iframe-display.php?idzone=2442039&output=img&type=468x60" width="468" height="60"></a></noscript>
    			</div>
    			<div data-ng-view flex></div>
    		</div>
    	</md-content>
	</body>
</html>