<div data-ng-controller="secCtrl"></div>

<div flex layout="row" layout-align="center center" layout-padding>
	<div flex-xl="90" flex-lg="90" flex-md="90" flex-sm="90" flex-xs="100" class="md-whiteframe-z4">
		<md-toolbar class="md-warn md-whiteframe-z2">
    		<h2 class="md-toolbar-tools">
      			<span>Traspaso de saldo</span>
      			<div flex></div>
      			<md-button data-ng-show="cntx.conf.mode !== 'N'" ng-click="fnCanc()"><md-icon md-font-set="material-icons">clear</md-icon></md-button>
    		</h2>
  		</md-toolbar>
        <md-content class="md-padding">
			<form name="cuenTras" data-ng-submit="fnForm()">
				<div layout="row" layout-xs="column" flex="75" flex-sm="100" flex-xs="100">
					<div layout="row" layout-xs="column" flex>
	                	<md-input-container class="md-block" flex data-ng-show="cntx.show.ctor">
	                		<label>Cuenta Origen</label>
							<md-select ng-model="cntx.form.ctor" ng-disabled="cntx.read.ctor">
	                        	<md-option ng-repeat="cuen in cntx.data.cuenList" ng-value="cuen.iden">{{cuen.desc + '(' + (cuen.sald | number:2) + ' &euro;)'}}</md-option>
	                        </md-select>
	                    </md-input-container>
	                    <md-input-container class="md-block" flex data-ng-show="cntx.show.ctde">
	                		<label>Cuenta Destino</label>
							<md-select ng-model="cntx.form.ctde" ng-disabled="cntx.read.ctde">
	                        	<md-option ng-repeat="cuen in cntx.data.cuenList" ng-value="cuen.iden">{{cuen.desc + '(' + (cuen.sald | number:2) + ' &euro;)'}}</md-option>
	                        </md-select>
	                    </md-input-container>
	                    <md-input-container class="md-block" flex data-ng-show="cntx.show.impo">
	                    	<label>Importe</label>
	                        <input type="number" ng-model="cntx.form.impo" step="0.01" ng-disabled="cntx.read.impo"/>
	                    </md-input-container>
	                    <md-input-container class="md-block" flex data-ng-show="cntx.show.feva">
	                    	<label>Fecha Valor</label>
	                    	<input type="date" ng-model="cntx.form.feva" ng-disabled="cntx.read.feva"/>
	                    </md-input-container>
					</div>
				</div>
                <div layout="row" layout-align="center center">
                    <md-button type="submit" class="md-raised md-primary" aria-label="Traspasar">Traspasar</md-button> 
                </div>
			</form>
        </md-content>
    </div>
</div>

{{cntx.form.ctor}}