<div flex layout="row" layout-align="center center" layout-padding>
	<div flex-xl="20" flex-lg="35" flex-md="60" flex-sm="70" flex-xs="100" class="md-whiteframe-z4">
		<md-content class="md-padding" data-ng-show="cntx.data.prConfregist.pval.esta === 'C'">
			<p>El registro en la aplicación se encuentra temporalmente cerrado.</p>
			<p>Para nosotros es innegociable maximizar el rendimiento y la experiencia de nuestros usuarios, por lo que hemos restringido el alta de nuevos miembros mientras trabajamos en ampliar la capacidad de nuestros servidores.</p>
			<p>Muchas gracias.</p>
		</md-content>
		<md-content class="md-padding" data-ng-show="cntx.data.prConfregist.pval.esta !== 'C'">
			<p data-ng-show="cntx.data.prConfregist.pval.esta === 'I'">Registro solo permitido por invitación.</p> 
			<p data-ng-show="cntx.data.prConfregist.pval.esta === 'I' && cntx.conf.mode === 'S'">Puede solicitar una introduciendo su email. Si ya dispone de invitación, pulse registrar.</p>
			<p data-ng-show="cntx.data.prConfregist.pval.esta === 'I' && cntx.conf.mode === 'I'">Introduzca código de invitación.</p>
			<p data-ng-show="cntx.data.prConfregist.pval.esta === 'I' && cntx.conf.mode === 'V'">Invitación correcta. Regístrese.</p>
			<form name ="inviForm">
				<md-input-container md-no-float class="md-block" data-ng-show="cntx.show.invi">
					<label>Invitación:</label>
					<input ng-model="cntx.form.invi" ng-readonly="cntx.read.invi">
				</md-input-container>
				<md-input-container md-no-float class="md-block" data-ng-show="cntx.show.mail">
					<label>Email:</label>
					<input ng-model="cntx.form.mail">
				</md-input-container>
				<md-input-container md-no-float class="md-block" data-ng-show="cntx.show.desc">
					<label>{{cntx.form.ldes}}:</label>
					<input ng-model="cntx.form.desc">
				</md-input-container>
				<md-input-container md-no-float class="md-block" data-ng-show="cntx.show.usua">
					<label>Usuario:</label>
					<input ng-model="cntx.form.usua">
				</md-input-container>
				<md-input-container md-no-float class="md-block" data-ng-show="cntx.show.pass">
					<label>Password:</label>
					<input type="password" ng-model="cntx.form.pass">
				</md-input-container>
				<md-input-container md-no-float class="md-block" data-ng-show="cntx.show.cpas">
					<label>Confirmar Password:</label>
					<input type="password" ng-model="cntx.form.cpas">
				</md-input-container>
				<div layout="row" layout-align="center center">
                    <md-button ng-click="fnSoli()" class="md-raised md-primary" aria-label="Solicitar" data-ng-show="cntx.show.soli">Solicitar</md-button>
                    <md-button ng-click="fnRegi()" class="md-raised md-primary" aria-label="Registrar" data-ng-show="cntx.show.regi">Registrar</md-button>
                </div>
			</form>
		</md-content>
    </div>
</div>